
body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 300px; /* Adjust width as needed */
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.4);
  text-align: center;
}

#text-input, #check-btn {
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
}
#check-btn{
  background-color : black;
  color : white;
  border : none;
}

#result {
  margin-top: 20px;
  font-size: 18px;
}


